.submit-button {
  font-family: 'Roboto Slab', serif;
}

.users-list {
  padding: 40px 60px;

  .submit-button {
    font-family: 'Roboto Slab', serif;
  }

  .text-col {
    margin: auto 0;
  }
  .actions-col {
    text-align: center;
    margin: auto 0;

    .action {
      line-height: 1;
    }
    .icon {
      font-size: 20px;
    }
  }
}
