<menu></menu>
<table>
    <tr>
      <th>
        Product ID
      </th>
      <th>
        Productnaam
      </th>
      <th>
        Beschrijving
      </th>
    </tr>
    <tr *ngFor="let leenproduct of leenproducten">
      <td  >
          <a routerLink="/productdetails/" [queryParams]="{leenproductId:leenproduct.leenproductId}">{{leenproduct.leenproductId}}</a>
      </td>
      <td>
        {{leenproduct.naam}}
      </td>
      <td>
        {{leenproduct.beschrijving}}
      </td>
    </tr>
  </table>